* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	line-height: 1;
	text-decoration: none;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	color: #444444;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

html {
	width: 100%;
	height: 100%;
	position: fixed;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

input {
	padding: 5px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.popupBackdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.65);
}

.popupWindow {
	margin: 10px;
	padding: 10px 20px;
	background: rgb(255, 255, 255);
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .25);
	border-radius: 20px;
}

.popupWindow .message {
	text-align: center;
	margin: 20px;
}

.button {
	cursor: pointer;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 15px;
	margin: 10px;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .25);
}

.buttonContainer {
	margin-top: 10px;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none !important;
}

#playGround {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: none;
}

.userContainer {
	position: absolute;
}

.userCursor {
	width: 17px;
	height: 25px;
	background-image: url(../assets/images/cursor.svg);
}

.userName {
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .25);
	text-align: center;
	border-radius: 5px;
}